<div class="product-list">
    <h1>All Product List</h1>
    <p  class="msg">{{productMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <td>Name</td>
                <td>Price</td>
                <td>Color</td>
                <td>category</td>
                <td>description</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productLists">
                <td>  <img src=" {{item.image}}"/></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.color}}</td>
                <td>{{item.Category}}</td>
                <td>{{item.Description}}</td>
                <td>
                    <button (click)="delete(item.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>