table{
    text-align: left;
    color: blueviolet;
    border-collapse: collapse;
    margin-left: 20px;
}
table td,table th{
    border:  1px solid blueviolet;
    padding: 10px;
    min-height:160px ;
}
img{
    width: 100px;
    height: 100px;
}
h1{
    margin-left: 20px;
    color: blueviolet;
}